body {background-color: #FFFFFF;
		color: #666666;
		background-image: url(background.jpg);
		font-family: Arial, Verdana, Sans-Serif;}

header { background-color: #000033;
	color: #FFFFFF;
	font-family: Georgia, serif;}

h1 {line-height: 200%;
	background-image: url(sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 72px;
	margin-bottom: 0;}

nav {font-weight: bold;
	background-color: #7ec9f5;
	text-align: left;
	padding: 5px;
	margin: 0;}	
	
nav a { text-decoration: none; }

h2 {color: #3399CC;
	font-family: Georgia, Sans-Serif;}	

h3 {color: #000033;}

dt {color: #000033;
	font-weight: bold;}

.resort {color: #000033;
	font-weight: bold;
	font-size: 1.2em;}

footer {font-size: 0.70em;
		text-align: center;
		font-style: italic;
		text-align: center;
		padding: 10px;
		background-color: #FFFFFF;}

#wrapper {width: 80%;
		margin-right: auto;
		margin-left: auto;
		background-color: #ffffff;
		min-width: 700px;
		max-width: 1024px;
		box-shadow: 3px 3px 3px #333}

#homehero {height:300px;
		background-image:url(coast.jpg);
		background-repeat:no-repeat;
		background-size:100% 100%;
		display: block;}

main {padding: 20px 20px;
		background-color: #FFFFFF;
		margin-left: 0px}

#yurthero {height: 300px;
		background-image: url(yurt.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;}
		  
 #trailhero {height: 300px;
		background-image: url(trail.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;}